body {
    background-color: #64748B;
    color: #0cff84;
}

.bg {
   background-color: #6386b8;
   width: auto;
   height: auto;
   margin: 30px auto 30px auto;
   border-radius: 12px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

img {
   width: 300px;
}

 input{
    background: #1a2330;
    color: #0cff84;
    width: 220px;
    height: 25px;
    text-align: center;
    border: 2px solid 1a2330;
    border-radius: 12px;
 }

 button {
    background: #0cff84;
    color: #1a2330;
    height: 45px;
    font-size: 18px;
    padding: 12px 18px 12px 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
 }



 #gridContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 64px;
  padding-bottom: 30px;
}

.gridSquare {
  background-color: #1a2330;
  width: auto;
  height: 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #94A3B8;
  padding: 16px 40px 16px 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: grab;
}


  